.Home{
    height: 97vh;
    overflow: hidden;
    margin: 0 1.5em;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://images.unsplash.com/photo-1469334031218-e382a71b716b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    & h1{
        text-transform: uppercase;
        color: white;
        left: 50%;
        top: 70%;
        font-size: 40px;
        word-spacing: 8px;
        letter-spacing: 3px;
        transform: translate(-19%);
        position: relative;
        }
    & span{
        text-transform: uppercase;
        color: white;
        font-size: 20px;
        font-weight: 500;
        word-spacing: 4px;
        letter-spacing: 3px;
        position: absolute;
        left: 31.2%;  
        top: 98%;
        & button{
            text-transform: uppercase;
            font-weight: 700;
            background-color: transparent;
            color: white;
            border: 2px solid white;
            padding: 8px 25px 8px 25px;
            outline: none;
        }
    }
}


@media screen and (max-width: 950px){
    .Home{
        position: relative;
        height: 50vh;
        background-position: center;
        & h1{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 60%;
            font-size: 18.8px;
            transform: translate(-40%,-50%);
        }
        & span{
            position: absolute;
            text-align: center;
            font-size: 1em;
            right: 50%;
            width: 90%;
            transform: translate(-30%);
            top: 70%;
        }
    }
}