#challenge-3{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    width: 60%;
    margin:auto;
    margin-top: 3%;
} 
.text-3{
    color:red;
}

#rpcPics{
    display: flex;
    margin-top:3%;
    justify-content: space-around;
}

#scissors{
    width:22%;
    height: 30%;
    /* margin-bottom: 10px; */
}

#rock{
    width:30%;
    height: 60%;
}
#paper{
    width:20%;
    height: 10%;
    margin-bottom: 2%;
}
#rock:hover,#paper:hover,#scissors:hover{
    box-shadow: 0px 15px 50px rgb(29, 29, 196);
}
#humanDiv, #botDiv,#messageDiv{
    width:30%;
    height:auto ;
}
#humanPic, #botPic{
    width:100%;
    height:auto ;
    margin-bottom: 10%;
}
#humanPic{
    box-shadow: 0px 5px 50px rgb(29, 29, 196); 
}
#botPic{
    box-shadow:0px 5px 50px red ;
}
#messageDiv h2{
    font-size: 5vw;
}
#reset{
    height: 5vh;
    background-color: rgb(220, 228, 114);
    margin-bottom: 0px;
}
#reset:hover{
    box-shadow: 0 0 5px 1px yellow ;
}
table,th,td{
    background-color: rgb(239, 239, 239);
    border: 1px solid black;
    border-spacing: 0px;
}