* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .menu-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center; 
  }
  /* aniket */
  .menu {
    border: 1px solid #fff;  
    width: 900px;
    display: flex;
    justify-content: space-around;
  }
  .links {
      border: 1px solid #fff;  
      display: flex;
      justify-content: flex-end;
    }
    
    .login {
      margin-left: 20px;
    }
    .photo-grid-container {
      display: flex;
      justify-content: center;
    }
    
    .photo-grid {
      width: 900px;
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
  
      flex-wrap: wrap;
    }
    
    .photo-grid-item {
      border: 1px solid #fff;
      width: 300px;
      height: 300px;
    }
    .first-item {
      order: 1;
    }
    
    .last-item {
      order: -1;
    }
    .footer {
      display: flex;
      justify-content: space-between;
    }
    
    .footer-item {
      border: 1px solid #fff;
      background-color: #D6E9FE;
      height: 200px;
      flex: 1;
    }
    .footer-three {
      flex: 2;
    }
    .footer-one,
  .footer-three {
    background-color: #5995DA;
    flex: initial;
    width: 300px;
  }
    .header-container {
      color: #5995DA;
      background-color: #D6E9FE;
      display: flex;
      justify-content: center;
    }
    
    .header {
      width: 900px;
      height: 300px;
      align-items: stretch;
      display: flex;
      justify-content: space-between;
    }
    .social,
  .logo,
  .subscribe {
    border: 1px solid #5995DA;
  }
  .social,
  .subscribe {
    align-self: flex-end;
    margin-bottom: 20px;
  }
  