.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    height: 20px;
    z-index: 1;
    transition-timing-function: ease-in-out;
    transition: all 0.5s;
}
.navBlock {
    background-color: #111;
}
.navLogo {
    position: fixed;
    left: 20px;
    object-fit: contain;
    width: 85px;
}
.navLogo:hover {
    cursor: pointer;
}
.navAvatar {
    position: fixed;
    right: 20px;
    top: 15px;
    object-fit: contain;
    width: 30px;
}
.navAvatar:hover {
    cursor: pointer;
}