.row {
    color: white;
    margin-left: 20px;
}
.row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}
.row_posters::-webkit-scrollbar {
    display: none;
}
.row_poster {
    object-fit: contain;
    width: 100%;
    max-height: 130px;
    margin-left: 10px;
    transition: transform 450ms;
}
.largeRow {
    max-height: 270px;
}
.largeRow:hover {
    transform: scale(1.3);
    cursor: pointer;
}
.row_poster:hover {
    transform: scale(1.09);
    cursor: pointer;
}